<div class="container text-center">

  <img src="/images/bus.svg" alt="icons-bus" class="img-bus img-bus-width">

  <h2>Iniciar sesión</h2>
  <form action="/auth/login" method="POST" id="form-container" class="space-form">
    <div class="form-group">
      <label for="email"></label>
      <input type="email" class="form-control-sm" id="email" name="username" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input type="password" name="password" class="form-control-sm" id="password" placeholder="Contraseña">
    </div>
    <div>
      {{#if message }}
      <div class="error-message">
        <i>{{ message }}</i>
      </div>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-info space-btn border border-info">Entrar</button>
    <p class="account-message space-form color-text">
     ¿No tienes una cuenta?
    </p>
    <a class="btn btn-info out-line" href="/auth/signup" role="button">Regístrate</a>
  </form>

</div>