<!-- views/auth/signup.hbs -->
<div class="container text-center">

  <img src="/images/bus.svg" alt="icons-bus" class="img-bus" width=130>

  <h2>Registrate</h2>

  <form action="/auth/signup" method="POST" id="form-container">

    <div class="form-group">
      <label for="username" class="color-text">Nombre</label>
      <br>
      <input type="username" class="form-control-sm" id="username" name="username" aria-describedby="emailHelp" placeholder="Nombre">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1" class="color-text">Email</label>
      <br>
      <input type="email" class="form-control-sm" id="email" name="email" aria-describedby="emailHelp" placeholder="Introducir email">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1" class="color-text">Contraseña</label>
      <br>
      <input type="password" name="password" class="form-control-sm" id="password" placeholder="Contraseña">
    </div>

    <button type="submit" class="btn btn-info space-btn border border-info">Registrate</button>

    <p class="account-message space-form color-text">
      Si ya tienes cuenta, por favor, pulsa el botón para entrar.
    </p>
    <a class="btn btn-info out-line" href="/auth/login" role="button">Entrar</a>

  </form>


