<form action="/profile/{{user._id}}/edit" method="post" enctype="multipart/form-data">

    <label for="">Name:</label>
    <input type="text" name="username" placeholder="" value="{{user.username}}">


    <label for=" ">Email:</label>
    <input type="text" name="email" value="{{user.email}}">


    <input type="file" name="photo">
    <button type="submit" class="btn btn-light btn-margin btn-text-color">EDIT</button>

</form>

<br>
<br>



<button type="button" class="btn btn-light btn-margin btn-text-color">
    <a href="/profile/">Back your profile</a>
</button>