<main>
  <div class="container-fluid no-pad">
    <div class="row no-margin-row justify-content-center align-items-center hero full-screen">
      <div class="col-sm-12">
        {{!-- <div class="img-front img-fluid" alt="Responsive image"> --}}
          <div class="title-container text-center">
            <h1>{{title}}</h1>
            <h2>Loren </h2>
          </div>
          <div class="col-sm-6">
            <div id="info-lines">
              <div class="input-group">
                <select class="custom-select" id="lines"></select>
                <div class="input-group-append">
                  <button id="ver-paradas" class="btn btn-outline-secondary" type="button">Ver</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="line-stop"></div>
          </div>
       </div>  
      </div>
    </div>
  </div>

</main>

{{!-- <a href="auth/login">LOG IN</a>
<br>
<br>
<a href="auth/signup">SIGN UP</a>
<br> --}}
{{!-- <br> {{#if user }}
<p> Hello, {{user.username}}. </p>
<a href="auth/logout"> LOGOUT </a>
{{else}} *for debug* NO USER {{/if}} --}}

{{!-- 
<div id="info-lines">
</div>

<div id="line-stop">
</div> --}}