<div class="container-fluid no-pad">
    <div class="row no-margin-row justify-content-center align-items-center hero full-screen">
        <div class="header">
            <h1>BusMad</h1>
            <img src="/images/bus.svg" class="mv-img" alt="icons-bus">
        </div>


        <div class="container text-center">

            {{#if user}}
              <div class="col-sm-12">
                  <h1> ¡Hola {{user.username}}!</h1>
                <button type="button" class="btn btn-light btn-margin btn-block btn-text-color">
                    <a class="out-line" href="/auth/logout">LOGOUT</a>
                </button>
            </div>
            
             {{else}}

            <div class="col-sm-12">
                <button type="button" class="btn btn-light btn-margin btn-block btn-text-color">
                    <a class="out-line" href="/auth/login">LOGIN</a>
                </button>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-light btn-margin btn-block btn-text-color">
                    <a class="out-line" href="/auth/signup">SIGNUP</a>
                </button>
            </div>
            {{/if}}


            <div class="col-sm-12">
                <button type="button" class="btn btn-light btn-margin btn-block btn-text-color">
                    <a href="/index">VIEW LINES BUS</a>
                </button>
            </div>
        </div>

    </div>
</div>