

<div class="container-fluid no-pad">
    <div class="row no-margin-row justify-content-center align-items-center hero full-screen">
        <div class="logo">
            <h2>NOMBRE</h2>
            <img src="/images/bus.svg" alt="icons-bus">
        </div>
        
        <div class="container text-center">
            <div class="col-sm-12">
                <button type="button" class="btn btn-light btn-margin btn-block btn-text-color"><a href="auth/login">LOGIN</a></button>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-light btn-margin btn-block btn-text-color"><a href="auth/signup">SIGNUP</a></button>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-light btn-margin btn-block btn-text-color"><a href="/index">VIEW LINES BUS</a></button>
            </div>
        </div>
       
   </div>
</div>







