<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{{body}}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ6nlcpPs2GVmmKEEIT1zOWgQ0ddz6Nas"> </script> 
  <script src='/javascripts/script.js'></script>

</body>
</html>