body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; // background-color: #8FB8FF;
  // background-color: #FF6B63
  // background-color: #151F94;
  // background-color: #FF9188;
  background-color: #507694;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

.img-front {
  width: 100%;
}

.no-pad {
  padding: 0 !important;
}

.no-margin-row {
  margin: 0 !important;
}

.navbar {
  height: 50px;
}

#map {
  width: 90%;
  height: 400px;
  border: 1px solid black;
  display: none;
  margin: 0 auto;
}

.header{
  margin-top: 30px;
 
}
.mv-img{
  margin-top: 60px;
}

.btn-margin {
  margin-top: 10%;
}

.btn-text-color {
  color: grey;
}

.profile-name {
  margin: 10% 0;
}

.profile-img {
  margin: 5%;
}

.text-color-profile {
  color: white;
}

#see-traffic,
#start,
#end {
  display: none;
}

.stop-comment-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#see-comments {
  margin-left: 2%;
}

#line-stop {
  padding: 2%
}

#see-traffic {
  margin: 5%
}

#start {
  margin-bottom: 1.5%
}

.fondo-blanco {
  background-color: white;
  color: black;
  width: 80%
}

.info-linea-css {
  margin: 5%
}

#form-new-comment {
  margin: 5%
}

#est-duration {
  padding: 3%;
  display: none
}

.text-color {
  color: white;
  font-size: 16px;
}

.nav-link.active {
  padding-top: 20px;
  color: #fff;
  background-color: #507694 !important;
}

.dropdown-toggle {
  padding-top: 20px;
  color: #fff !important;
  background-color: #507694 !important;
}

.dropdown-menu {
  // left: 0;
  // z-index: 1000;
  // display: none;
  // float: left;
  min-width: 0;
  padding: 0;
  margin: .900rem 0 0; // font-size: 1rem;
  // color: #212529;
  // text-align: left;
  // list-style: none;
  // background-color: #fff;
  // background-clip: padding-box;
  // border: 1px solid rgba(0, 0, 0, .15);
  // border-radius: .25rem;
}

.color-comment {
  color: grey;
}

.btn-form {
  border-radius: 50%;
  width: 20px;
  background-color: grey;
}

h2 {
  font-size: 3em;
  color: #fff;
  margin: 25px 0 25px 0;
}

.color-text {
  color: #fff;
}

.img-bus {
  margin-top: 20px;
  margin-bottom: 20px;
}

.space-btn {
  margin: 35px 0 25px 0;
}
.fondo-color{
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
}

  .pepe{
    font-size: 1em;
  }
  .fa-home{
    font-size: 2em;
  }
  .out-line:active{
      text-decoration: none;
  }